
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
  /*border: 0.5px solid red;*/
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #525c65;
}

.navbar-right {
	margin: 10px;
}

.navbar-default, .navbar {
	background-color: transparent;
	border-bottom: none;
}

.navbar-convert {
	background-color: #fff;
	opacity: 1;
	color: black;
	border-bottom: 0.5px solid #F0F4F5;
}

.navbar-default .navbar-brand {
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	margin-left: 30px;
	font-size: 25px;
	padding-left: 45px;
	padding-top: 20px;
}

.btn-home {
	background-color: transparent;
	color: #fff;
	margin-top: 50px;
	padding: 15px;
	font-size: 18px;
	border: 3px solid #fff;
	letter-spacing: 1.5px;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}

#login-style {
	color: #fff;
	font-size: 17px;
}

#signup-style {
	color: #fff;
	font-size: 17px;
}

}

/*Animation*/
.type-wrap span{
  color: white;
  font-weight: 400;
}
.type-wrap{
  text-align: center;
  padding: 0;
  font-size: 50px;
}
/*End animation */

.background-gradient{
	background-image:
   linear-gradient(rgba(128, 71, 189, 0.85), rgba(32, 161, 177, 0.95)),
    url("../img/profile.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}



.header-titles {
	padding-top: 115px;
	padding-bottom: 0;
	color: #fff;
	font-size: 40px;
	margin: 0;
}

.main {
	margin-top: 150px;
	margin-bottom: 140px;
}

.image-style {
	width: 350px;
	height: 200px;
	border-bottom: 15px solid #2AF5FF;
	margin-top: 20px;
	margin-left: 0px;
}

.btn-course {
	background: linear-gradient(#51DEE8, #52979C);
	color: #fff;
	font-size: 18px;
	padding: 15px;
	width: 150px;
	letter-spacing: 1.5px;
	border-radius: 8px;
	margin: 24px;
}


.testimonials-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 60px;
	height: 480px;
	padding-top: 80px;
	opacity: 0;
	transition: all .6s ease-in-out;
}

article {
	width: 30%;
}

.animate-testimonials {
	transform: translateY(-50px);
	opacity: 1
}

.salmon, .green, .purple {
	background-color: rgba(252, 161, 125, 1);
	height: 400px;
	padding-top: 90px;
	padding-right: 10px;
	padding-left: 10px;
	color: #fff;
}

.green {
	background-color: rgba(32, 161, 177, 0.95);
}

.purple {
	background-color: rgba(128, 71, 189, 0.60);
}

.img-position {
	margin-top: -51px;
	margin-bottom: 30px;
}

.gradient-box {
	/*background: linear-gradient(#51DEE8, #68F0F2, #3EBCE6);*/
	background: linear-gradient(#9D44B5, #2AF5FF);
	height: 600px;
}

.action-style {
	margin-top: 100px;
	color: #fff;
}

.action-title {
	font-size: 54px;
}

.btn-action {
	background: transparent;
	color: #fff;
	font-size: 18px;
	padding: 15px;
	width: 150px;
	letter-spacing: 1.5px;
	border-radius: 8px;
	margin: 24px;
	border: 4px solid #fff;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}

.contact {
	height: 300px;
	background-image:
   linear-gradient(rgba(128, 71, 189, 0.4), rgba(128, 71, 189, 0.4)),
    url("../img/background-contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    background-position: left;
    overflow: hidden;
}

.form {
	background-color: rgba(252, 254, 255, 0.4);
	width: 40%; 
	margin: 90px auto;
	height: 300px;
}

.form-style {
	color: white;
	padding-top: 20px;
}

button {
	background-color: rgba(32, 161, 177, 0.95);
	color: #fff;
	font-size: 18px;
	padding: 15px;
	width: 150px;
	letter-spacing: 1.5px;
	border-radius: 8px;
	margin-top: 40px;
}

.about {
	margin-top: 0px;
	background-color: #F0F4F5;
	height: 70px;
	overflow: hidden;
}

h5 {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 20px;
}

.card {
	background-color: #fff;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	width: 350px;
	margin: auto;
	height: 400px;
	transition: all .3s ease-out;
}

.card:hover {
    transform: scale(1.05);
}






   



