
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #525c65;
}

/*NAVBAR 1*/
.navbar, .navbar-default {
	background-color: transparent;
	margin-bottom: 0px;
	border: none;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.signup-magic {
	border: 1px solid #fff;
	border-radius: 4px;
}

.navbar-default .navbar-toggle  {
	border: none;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #EBEFF0;
}

button.navbar-toggle.collapsed:hover {
	background-color: transparent;
}

/*END NAVBAR 1*/

/*NAVBAR 2 */
.magic-navbar {
	display: none;
    transform-style: preserve-3d;
    transform: translateX(0px) translateY(-75px) translateZ(0px);
    transition: transform 500ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-appear {
	display: block;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	transform-style: preserve-3d;
    transform: translateX(0px) translateY(0px) translateZ(0px);
}

.magic-navbar .navbar-default .navbar-brand {
	color: black;
}

.magic-navbar .navbar-default .navbar-nav .links-change {
	color: black;
}

.sign {
	background-color: #12EAEA;
	color: white;
	border-radius: 8px;	
}
/*END NAVBAR 2*/

/*HOME*/
.btn-home {
	background-color: transparent;
	color: #fff;
	margin-top: 50px;
	padding: 15px;
	font-size: 18px;
	border: 3px solid #fff;
	letter-spacing: 1.5px;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}

/*Animation*/
.type-wrap span{
  color: white;
  font-weight: 400;
}
.type-wrap{
  text-align: center;
  padding: 0;
  font-size: 50px;
}
/*End animation */

.background-gradient{
	background:
   linear-gradient(to right, rgba(0, 189, 157, 0.85), rgba(13, 161, 222, 0.98)),
    url("../img/profile.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header-titles {
	padding-top: 54px;
	padding-bottom: 0;
	color: #fff;
	font-size: 40px;
	margin: 0 auto;
}

.wrap {
	margin-top: -33px;
}
/*END HOME*/ 

/*MAIN SECTION -COURSES */
.courses-titles {
	margin-top: 69px;
	color: #7d97ad;
}

.row {
	margin: 56px -57px 168px -57px;
}

.color-card {
	background-color: #12EAEA;
	height: 250px;
	position: relative;
}

.two {
	background-color: #B0DB43;
}

.three {
	background-color: #DB2763;
}

h4 {
	padding-top: 100px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.card {
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	width: 350px;
	margin: auto;
	height: auto;
	transition: all .3s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: #12EAEA;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: #B0DB43;
}

.card:hover .overlay2 {
	opacity: 1;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: #DB2763;
}

.card:hover .overlay3 {
	opacity: 1;
}

.para-courses {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  letter-spacing: 1.5px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn-default:hover {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	transition: all .3s ease-in-out;
	transform: scale(1.1);
}

.btn-course {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	font-size: 18px;
	position: absolute;
	top: 65%;
	left: 30%;
	width: 41%;
	letter-spacing: 1.5px;
	border-radius: 8px;
}

/*END MAIN SECTION*/

/*ACTION BOX*/
.gradient-box {
	background: linear-gradient(to top left, #64FFB7, #20a1b1);
	height: 350px;
}

.action-style {
	margin-top: 100px;
	color: #fff;
}

.action-title {
	font-size: 54px;
}

.btn-action {
	background: transparent;
	color: #fff;
	font-size: 18px;
	padding: 15px;
	width: 150px;
	letter-spacing: 1.5px;
	border-radius: 8px;
	margin: 24px;
	border: 4px solid #fff;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
}
/*ACTION BOX*/

/*TESTIMONIALS*/
.testimonials-title {
	color: #7d97ad;
	margin-top: 69px;
}

.testimonials-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 60px;
	margin-top: 30px;
	height: auto;
	padding-top: 80px;
	opacity: 0;
	transition: all .4s ease-in-out;
}

.animate-testimonials {
	transform: translateY(-50px);
	opacity: 1
}

.testimonials-box {
	width: 30%;
	height: auto;
	padding-top: 90px;
	padding-right: 10px;
	padding-left: 10px;
	color: #7d97ad;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	transition: all .3s ease-in-out;
}

.img-position {
	margin-top: -51px;
	margin-bottom: 30px;
	padding: 6px;
	border: 4px solid rgba(0, 189, 157, 0.5);
	width: 150px;
	height: 150px;
}

.cite {
	margin-bottom: 50px;
}

.testimonials-box:hover {
	transform: scale(1.03);
}
/*END TESTIMONIALS*/

/*CONTACT */
.contact {
	background-image:
   linear-gradient(rgba(0, 189, 157, 0.4), rgba(0, 189, 157, 0.4)),
    url("../img/background-contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: left;
    overflow: hidden;
}

.form {
	background-color: rgba(252, 254, 255, 0.4);
	width: 40%; 
	margin: 90px auto;
	height: 300px;
	border-radius: 4px;
}

.form-style {
	color: white;
	padding-top: 20px;
}

.contact-button {
	background-color: #30C5FF;
	color: #fff;
	font-size: 18px;
	padding: 15px;
	width: 41%;
	letter-spacing: 1.5px;
	border-radius: 8px;
	margin-top: 50px;
}
/*END CONTACT*/

/*FOOTER*/
.about {
	margin-top: 0px;
	background-color: #F0F4F5;
	overflow: hidden;
}

h5 {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*END FOOTER*/

/* ==========================================================================
   Part 2 - Responsive
========================================================================== */

@media screen and (max-width: 960px) {
.testimonials-wrapper {
	flex-wrap: wrap;
}

.testimonials-box {
	width: 30%;
}

.form {
	width: 80%;
}
.contact {
	background-position: center;
}

}


@media screen and (max-width: 660px) {
.testimonials-wrapper {
	flex-wrap: wrap;
}

.testimonials-box {
	width: 100%;
}
.form {
	width: 80%;
}
.contact {
	background-position: center;
}

}

@media screen and (max-width: 450px) {
.testimonials-wrapper {
	flex-wrap: wrap;
}
.testimonials-box {
	width: 100%;
}

.form {
	width: 90%;
}

.contact {
	background-position: center;
}

.type-wrap {
	font-size: 36px;
}

}






   



